# 5.LIST

* A list in Python is used to store the sequence of various types of data. Python lists are mutable type its mean we can modify its element after it created. However, Python consists of six data-types that are capable to store the sequences, but the most common and reliable type is the list.

In [2]:
L1 = ["John", 102, "USA"]    
L2 = [1, 2, 3, 4, 5, 6]

In [3]:
print(type(L1))  
print(type(L2))

<class 'list'>
<class 'list'>

In [4]:
a = [1,2,"Peter",4.50,"Ricky",5,6]  


b = [1,2,5,"Peter",4.50,"Ricky",6]  

a==b

False

In [5]:
a = [1, 2,"Peter", 4.50,"Ricky",5, 6]  
b = [1, 2,"Peter", 4.50,"Ricky",5, 6]  
a == b

True

In [6]:
emp = ["John", 102, "USA"]     
Dep1 = ["CS",10]  
Dep2 = ["IT",11]    
HOD_CS = [10,"Mr. Holding"]    
HOD_IT = [11, "Mr. Bewon"]  

print("printing employee data...") 

print("Name : %s, ID: %d, Country: %s"%(emp[0],emp[1],emp[2]))    

print("printing departments...")   

print("Department 1:\nName: %s, ID: %d\nDepartment 2:\nName: %s, ID: %s"%(Dep1[0],Dep2[1],Dep2[0],Dep2[1]))    

print("HOD Details ....")    

print("CS HOD Name: %s, Id: %d"%(HOD_CS[1],HOD_CS[0]))    

print("IT HOD Name: %s, Id: %d"%(HOD_IT[1],HOD_IT[0]))    

print(type(emp),type(Dep1),type(Dep2),type(HOD_CS),type(HOD_IT))

printing employee data...
Name : John, ID: 102, Country: USA
printing departments...
Department 1:
Name: CS, ID: 11
Department 2:
Name: IT, ID: 11
HOD Details ....
CS HOD Name: Mr. Holding, Id: 10
IT HOD Name: Mr. Bewon, Id: 11
<class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'>

In [10]:
list = [1,2,3,4,5,6,7]  

print(list[0])  

print(list[1])  

print(list[2])  

print(list[3])  

# Slicing the elements  
print(list[0:6])  

# By default the index value is 0 so its starts from the 0th element and go for index -1.  
print(list[:])  

print(list[2:5])  

print(list[1:6:2])

1
2
3
4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[2, 4, 6]

In [11]:
list = [1,2,3,4,5]

print(list[-1])  

print(list[-3:])  

print(list[:-1])  

print(list[-3:-1])

5
[3, 4, 5]
[1, 2, 3, 4]
[3, 4]

* Updating List values

In [13]:
list = [1, 2, 3, 4, 5, 6]     
print(list)     

# It will assign value to the value to the second index   
list[2] = 10   
print(list)    

# Adding multiple-element   
list[1:3] = [89, 78]     
print(list)   

# It will add value at the end of the list  
list[-1] = 25  
print(list)

[1, 2, 3, 4, 5, 6]
[1, 2, 10, 4, 5, 6]
[1, 89, 78, 4, 5, 6]
[1, 89, 78, 4, 5, 25]

In [17]:
l1 = [1, 2, 3, 4]
l2 = [5, 6, 7, 8]

#Repetition
a=l1*2

print('Repetition: ',a)

#Concatenation

b=l1+l2
print('Concatenation: ',b)

#Membership
print(2 in l1)

#Iteration
for i in b: 
    print(i)
    
print('length',len(l1))

Repetition:  [1, 2, 3, 4, 1, 2, 3, 4]
Concatenation:  [1, 2, 3, 4, 5, 6, 7, 8]
True
1
2
3
4
5
6
7
8
length 4

* Iterating a List

In [19]:
list = ["John", "David", "James", "Jonathan"]    
for i in list:   
    # The i variable will iterate over the elements of the List and contains each element in each iteration.     
    print(i)

John
David
James
Jonathan

* Adding elements to the list

In [1]:
list = ["John", "David", "James", "Jonathan"]   

list[2]='karthi'


for i in list:
    print(i)

John
David
karthi
Jonathan

* list Methods

In [39]:
# 1.list.append()
simbu = ["John", "David", "James", "Jonathan",123,123,'James']  
simbu.append('karthi')

print(simbu)

['John', 'David', 'James', 'Jonathan', 123, 123, 'James', 'karthi']

In [17]:
#2.list.count()
print(simbu.count('James'))
print(simbu.count(123))

2
2

In [18]:
#3.list.extend()

karthi=['x',1,2,3]

simbu.extend(karthi)

print(simbu)

['John', 'David', 'James', 'Jonathan', 123, 123, 'James', 'karthi', 'x', 1, 2, 3]

In [28]:
# 4.list.index()


print(karthi.index('x'))

0

In [34]:
#5. list.insert()
karthi=['x',1,2,3]

print(karthi.insert(2,'b'))

None

In [35]:
print(karthi)

['x', 1, 'b', 2, 3]

In [33]:
# Python3 program for use 
# of insert() method 

list1 = [ 1, 2, 3, 4, 5, 6, 7 ] 

# insert 10 at 4th index 
list1.insert(4, 10) 
print(list1) 

list2 = ['a', 'b', 'c', 'd', 'e'] 

# insert z at the front of the list 
list2.insert(0, 'z') 
print(list2)

[1, 2, 3, 4, 10, 5, 6, 7]
['z', 'a', 'b', 'c', 'd', 'e']

In [36]:
# 6.list.pop()

list1.pop()
print(list1)

[1, 2, 3, 4, 10, 5, 6]

In [41]:
# 7.list.remove()

list2.remove('c')
print(list2)

['z', 'a', 'b', 'd', 'e']

In [55]:
# 8.list.reverse()

# Python3 program for the 
# practical application of reverse() 

list1 = [1, 2, 3, 2, 10] 

# store a copy of list 
list2 = list1.copy() 

# reverse the list 
list2.reverse() 

print(list2)

[10, 2, 3, 2, 1]

In [56]:
#9. list.sort()
list1 = [1, 2, 3, 2, 10] 
list1.sort()


print(list1)

[1, 2, 2, 3, 10]

In [57]:
L1 = [12,34,26,48,72]
print(max(L1))

72

In [59]:
L1 = [12,34,26,48,72]
print(min(L1))

12

In [60]:
L1 = [1,2,3,4,5,6,7,8]
print(len(L1))

8