# 6.Tuple

* Python Tuple is used to store the sequence of immutable Python objects. The tuple is similar to lists since the value of the items stored in the list can be changed, whereas the tuple is immutable, and the value of the items stored in the tuple cannot be changed.

In [1]:
T1 = (101, "Peter", 22)    
T2 = ("Apple", "Banana", "Orange")     
T3 = 10,20,30,40,50  
  
print(type(T1))  
print(type(T2))  
print(type(T3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [2]:
tup1 = ("JavaTpoint")  
print(type(tup1))  

#Creating a tuple with single element   
tup2 = ("JavaTpoint",)  
print(type(tup2))

<class 'str'>
<class 'tuple'>

In [3]:
tuple1 = (10, 20, 30, 40, 50, 60)    
print(tuple1)    
count = 0    
for i in tuple1:    
    print("tuple1[%d] = %d"%(count, i))   
    count = count+1

(10, 20, 30, 40, 50, 60)
tuple1[0] = 10
tuple1[1] = 20
tuple1[2] = 30
tuple1[3] = 40
tuple1[4] = 50
tuple1[5] = 60

In [4]:
tup = (1,2,3,4,5,6,7)  

print(tup[0])  

print(tup[1])  

print(tup[2])  

# It will give the IndexError  
print(tup[8])

1
2
3

IndexError: tuple index out of range

In [5]:
tuple = (1,2,3,4,5,6,7)  
#element 1 to end  
print(tuple[1:])  

#element 0 to 3 element   
print(tuple[:4])  

#element 1 to 4 element  
print(tuple[1:5])   

# element 0 to 6 and take step of 2  
print(tuple[0:6:2])

(2, 3, 4, 5, 6, 7)
(1, 2, 3, 4)
(2, 3, 4, 5)
(1, 3, 5)

In [6]:
tuple1 = (1, 2, 3, 4, 5)    
print(tuple1[-1])    
print(tuple1[-4])    
print(tuple1[-3:-1])  
print(tuple1[:-1])  
print(tuple1[-2:])

5
2
(3, 4)
(1, 2, 3, 4)
(4, 5)

In [7]:
tuple1 = (1, 2, 3, 4, 5, 6)    
print(tuple1)   

del tuple1[0]    
print(tuple1)    
del tuple1    
print(tuple1)

(1, 2, 3, 4, 5, 6)

TypeError: 'tuple' object doesn't support item deletion

In [8]:
T1 = (101, "Peter", 22)    
T2 = ("Apple", "Banana", "Orange")     
T3 = 10,20,30,40,50  

T1*2

(101, 'Peter', 22, 101, 'Peter', 22)

In [9]:
T1+T2

(101, 'Peter', 22, 'Apple', 'Banana', 'Orange')

In [10]:
print (2 in T1)

False

In [11]:
for i in T1: 
    print(i)

101
Peter
22

In [12]:
len(T1)

3

In [14]:
max(T2)

'Orange'

In [15]:
min(T2)

'Apple'

In [16]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [17]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']