# 7.Set

* A Python set is the collection of the unordered items. Each element in the set must be unique, immutable, and the sets remove the duplicate elements. Sets are mutable which means we can modify it after its creation.

* Unlike other collections in Python, there is no index attached to the elements of the set, i.e., we cannot directly access any element of the set by the index. However, we can print them all together, or we can get the list of elements by looping through the set.

In [1]:
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}    

print(Days)    

print(type(Days))    

print("looping through the set elements ... ")    

for i in Days:    
    print(i)

{'Thursday', 'Tuesday', 'Monday', 'Friday', 'Wednesday', 'Sunday', 'Saturday'}
<class 'set'>
looping through the set elements ...
Thursday
Tuesday
Monday
Friday
Wednesday
Sunday
Saturday

In [2]:
Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])    
print(Days)    
print(type(Days))    
print("looping through the set elements ... ")    
for i in Days:    
    print(i)

{'Thursday', 'Tuesday', 'Monday', 'Friday', 'Wednesday', 'Sunday', 'Saturday'}
<class 'set'>
looping through the set elements ...
Thursday
Tuesday
Monday
Friday
Wednesday
Sunday
Saturday

In [4]:
# Creating a set which have immutable elements  
set1 = {1,2,3, "JavaTpoint", 20.5, 14} 

print(type(set1))

<class 'set'>

In [5]:
#Creating a set which have mutable element  
set2 = {1,2,3,["Javatpoint",4]}  
print(type(set2))

TypeError: unhashable type: 'list'

In [6]:
# Empty curly braces will create dictionary  
set3 = {}  
print(type(set3))  
  
# Empty set using set() function  
set4 = set()  
print(type(set4))

<class 'dict'>
<class 'set'>

In [10]:
set5 = {1,2,4,4,5,8,9,9,10}  
print(set5)

{1, 2, 4, 5, 8, 9, 10}

* SET FUNTIONS

<img src='2.png'>

In [12]:
Months = set(["January","February", "March", "April", "May", "June"]) 

print(Months)    

Months.add("July");    
Months.add ("August");    

print(Months)    

for i in Months:    
    print(i)

{'January', 'March', 'June', 'February', 'May', 'April'}
{'August', 'January', 'March', 'June', 'July', 'February', 'May', 'April'}
August
January
March
June
July
February
May
April

In [13]:
Months = set(["January","February", "March", "April", "May", "June"])    
  
print(Months) 


  
Months.update(["July","August","September","October"]);  


print("\nprinting the modified set ... ")     
print(Months);

{'January', 'March', 'June', 'February', 'May', 'April'}

printing the modified set ...
{'August', 'January', 'March', 'October', 'June', 'September', 'July', 'February', 'May', 'April'}

In [14]:
months = set(["January","February", "March", "April", "May", "June"])       

print(months)    

months.discard("January");    

months.discard("May");       

print(months)    

for i in months:    
    print(i)

{'January', 'March', 'June', 'February', 'May', 'April'}
{'March', 'June', 'February', 'April'}
March
June
February
April

In [16]:
months = set(["January","February", "March", "April", "May", "June"])    
  
print(months)    
months.remove("January");    

months.remove("May");    

print("\nPrinting the modified set...");    

print(months)

{'January', 'March', 'June', 'February', 'May', 'April'}

Printing the modified set...
{'March', 'June', 'February', 'April'}

In [17]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    
print("\nRemoving some months from the set...");    
Months.pop();    
Months.pop();    
print("\nPrinting the modified set...");    
print(Months)

printing the original set ...
{'January', 'March', 'June', 'February', 'May', 'April'}

Removing some months from the set...

Printing the modified set...
{'June', 'February', 'May', 'April'}

In [18]:
Months = set(["January","February", "March", "April", "May", "June"])    
print("\nprinting the original set ... ")    
print(Months)    

print("\nRemoving all the items from the set...");    
Months.clear()    

print("\nPrinting the modified set...")    
print(Months)

printing the original set ...
{'January', 'March', 'June', 'February', 'May', 'April'}

Removing all the items from the set...

Printing the modified set...
set()

* Union of two Sets

In [19]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1|Days2) #printing the union of the sets

{'Saturday', 'Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Monday', 'Friday'}

In [20]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1.union(Days2)) #printing the union of the sets

{'Saturday', 'Thursday', 'Sunday', 'Wednesday', 'Tuesday', 'Monday', 'Friday'}

* Intersection of two sets

In [21]:
Days1 = {"Monday","Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday","Tuesday","Sunday", "Friday"}    
print(Days1&Days2) #prints the intersection of the two sets

{'Tuesday', 'Monday'}

* The intersection_update() method

In [22]:
set1 = {"Devansh","John", "David", "Martin"}    
set2 = {"Steve", "Milan", "David", "Martin"}    
print(set1.intersection(set2)) #prints the intersection of the two sets

{'David', 'Martin'}

* The intersection_update() method

In [23]:
a = {"Devansh", "bob", "castle"}    
b = {"castle", "dude", "emyway"}    
c = {"fuson", "gaurav", "castle"}    
    
a.intersection_update(b, c)    
    
print(a)

{'castle'}

* Difference between the two sets

In [25]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1-Days2) #{"Wednesday", "Thursday" will be printed}

{'Thursday', 'Wednesday'}

In [26]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1.difference(Days2)) # prints the difference of the two sets Days1 and Days2

{'Thursday', 'Wednesday'}

In [27]:
a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a^b  
print(c)

{3, 4, 5, 6, 8, 9, 10}

* Symmetric Difference of two sets

In [28]:
a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a.symmetric_difference(b)  
print(c)

{3, 4, 5, 6, 8, 9, 10}

* Set comparisons

In [29]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday"}    
Days3 = {"Monday", "Tuesday", "Friday"}    
    
#Days1 is the superset of Days2 hence it will print true.     
print (Days1>Days2)     
    
#prints false since Days1 is not the subset of Days2     
print (Days1<Days2)    
    
#prints false since Days2 and Days3 are not equivalent     
print (Days2 == Days3)

True
False
False

* FrozenSets

In [30]:
Frozenset = frozenset([1,2,3,4,5])     
print(type(Frozenset))    
print("\nprinting the content of frozen set...")    
for i in Frozenset:    
    print(i);    
Frozenset.add(6) #gives an error since we cannot change the content of Frozenset after creation

<class 'frozenset'>

printing the content of frozen set...
1
2
3
4
5

AttributeError: 'frozenset' object has no attribute 'add'

* Frozenset for the dictionary

In [31]:
Dictionary = {"Name":"John", "Country":"USA", "ID":101}     

print(type(Dictionary))    

Frozenset = frozenset(Dictionary); #Frozenset will contain the keys of the dictionary    
print(type(Frozenset))    
for i in Frozenset:     
    print(i)

<class 'dict'>
<class 'frozenset'>
Country
Name
ID